/* PLUGIN CSS FILE */

.fiu-circle{
	border-radius: 0%;
	border: 0px solid #1c1c1c;
	overflow: hidden;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition-: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:block;
}

.fiu-circle:hover{
	border-radius: 60%;
	border: 30px solid #1c1c1c; 
}

.fiu-circle .fiu-tileLabelWrapper{
    border-radius: 50%;
    /*overflow: hidden;*/
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
    transform: scale(0,0);
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    margin: -75px auto 0 auto;
    color: #efdcd3;
    text-align: center;
    font-size: 1em;
    display: table;
    font-style: normal;
    text-transform: uppercase;
    width: 150px;
    height: 150px;
}

.fiu-circle:hover .fiu-tileLabelWrapper{
	opacity: 1;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.fiu-circle .fiu-tileLabel{
	margin-top: 50px;
	padding: 0px 15px;
	height: auto;
}
